<!DOCTYPE html>
<html>
  <head>
    <title>Multus</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/multus.css" rel="stylesheet"/>
    <link href="/css/w3.css" rel="stylesheet"/>
  </head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-sidenav a {padding:20px}
</style>
<body>

<!-- Top menu -->
<!-- <form id="addTaskForm" role="form" method="get" action="/modify"> -->
<form id="addTaskForm" role="form" method="get">
  <div class="w3-top">
    <div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">

      <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()"> 
        <h3><a href="/" style="text-decoration:none;" id="thisdate">X</a></h3>
      </div>

      <div class="w3-center" id="category-design">
       &nbsp &nbsp &nbsp
         <input type="text" name="cname" id="cname" style="text-align:center;" placeholder="Category + Project Title" value="{{cname}}">
         <input type="number" name="cid" id="cid" value="{{cid}}" hidden>
         <input type="text" name="complete" value="" hidden>
         <input type="text" name="progress" value="{{progress}}" hidden>
        <!-- <h2>{{name}}</h2> -->
      </div>


    </div>
  </div> <br/> <br/> <br/> <br/> <br/> 
  <!-- !PAGE CONTENT! -->
  <div class="container w3-center"> 
    <button type="button" onclick="location.href='/category/{{cid}}/newTask'" id="login-button" class="btn w3-button glyphicon-plus">Add Subtask</button> <br/> <br/> <br/>
      <div class="d-inline-block bg-warning text-center">
        {{#each tasks}}
          {{#unless complete}}
            <div class="friend ">
              <a href="/category/{{../cid}}/task/{{tid}}" id="tasklink" class="btn btn-lg btn-block">{{tname}}</a>
              <input type="text" name="tname" id="tname" value="{{tname}}" hidden>
              <progress value="0" max="100"></progress>
            </div>
          {{/unless}}
        {{/each}}
      </div>
      <br/>
      
      <div class="w3-center">
        <button type="button" id="delete-button" onclick="location.href='/removeCategory'" class="btn w3-button">Delete</button>
        <button type="submit" id="save-button"name="modify" formaction="/modifyCategory" onclick="return setProgress()" class="btn w3-button">Save</button>
        
      </div>
      
    </div>


  <!-- End page content -->
  </div>

  <script>
    // Script to open and close sidenav
    function w3_open() {
        document.getElementById("mySidenav").style.display = "block";
    }
     
    function w3_close() {
        document.getElementById("mySidenav").style.display = "none";
    }
  </script>

  <script type="text/javascript">
    function setProgress() {

      /*
      // Set progress from subtasks
      var prog = 0;
      if (document.getElementById("subtask1").value.replace(/ /g,'') != ''
         && document.getElementById("subtask1status").checked == true) {
        prog += 33;
      }
      if (document.getElementById("subtask2").value.replace(/ /g,'') != ''
         && document.getElementById("subtask2status").checked == true) {
        prog += 33;
      }
      if (document.getElementById("subtask3").value.replace(/ /g,'') != ''
         && document.getElementById("subtask3status").checked == true) {
        prog += 33;
      }
      if (prog === 99) {
        prog = 100;
      }
      document.getElementById("progress").value = prog;

      // Popup confirmation
      if (prog === 100) {
        if (confirm("You have marked all subtasks as completed. This task will accordingly be move to your 'History' tab.") == false) {
          return false;
        }
        else {
          document.getElementById("complete").value = "yes";
        }
      }
      */

      // Return to home menu
      window.location.href = '/';
    }
  </script>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92553441-3', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
