<!DOCTYPE html>
<html>
	<head>
		<title>Multus</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/multus.css" rel="stylesheet"/>
		<link href="css/w3.css" rel="stylesheet"/>

		<!-- Used for Bottom nav bar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
  <body>
		<!-- Sidenav (hidden by default)
		<nav class="w3-sidenav w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidenav">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="w3-closenav">Close Menu</a>
		  <a href="/" onclick="w3_close()">Tasks</a>
		  <a href="profile" onclick="w3_close()">Profile</a>
		  <a href="history" onclick="w3_close()">History</a>
		  <a href="login" onclick="w3_close()">Logout</a>
		</nav>
	-->

		<!-- Bottom navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<h4 class="navbar-text">Multus</h4>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="/"><span class="glyphicon glyphicon-tasks"></span> Tasks</a></li>
      				<li class="active"><a href="profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
	      			<li><a href="history"><span class="glyphicon glyphicon-calendar"></span> History</a></li>
	      	    </ul>
	      		<ul class="nav navbar-nav navbar-right">
			    	<li><a href="login"><span class="glyphicon glyphicon-log-out"></span> Logout   </a></li>
   				</ul>
  			</div>
		</nav>

		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
		  	<!-- Comment out line for bottom nav
		    <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">&#9776</div>
		-->
		    <div class="w3-right">
				  <button type="button" onclick="location.href='help'" class="w3-btn-floating w3-teal">?</button>
			  </div>
		    <div class="w3-center">&nbsp; Profile</div>
		  </div>
		</div>

		<br/> <br/> <br/> <br/>

		<div class="container text-center">
				{{#each users}}
					<h1>{{name}}</h1><br>
					<h2>Stats</h2>
					<p>Created Categories: {{createdcategories}} categories</p>
					<p>Created Tasks: {{createdtasks}} tasks</p>
					<p>Tasks Completed: {{completedtasks}} tasks</p> <br/> <br/>
				{{/each}}
				<h2>Challenges</h2>
				<div class="d-inline-block bg-warning text-center">
					<h4>Completed:</h4>
						{{#each challenges}}
							{{#if complete}}
								<div class="friend">
									<i class="fa fa-trophy" style="font-size:200px;color:gold;"></i>
									<h5> {{name}} </h5>
								</div>
							{{/if}}
						{{/each}}
				</div>

				<br/>

				<div class="d-inline-block bg-warning text-center">
					<h4>Upcoming:</h4>
						{{#each challenges}}
							{{#unless complete}}
								<div class="friend">
									<i class="fa fa-trophy" style="font-size:150px;color:grey;"></i>
									<p style="font-size: 10px;"> {{name}} </p>
								</div>
							{{/unless}}
						{{/each}}
				</div>
		</div>
		
		<script>
			// Script to open and close sidenav
			function w3_open() {
			    document.getElementById("mySidenav").style.display = "block";
			}
			 
			function w3_close() {
			    document.getElementById("mySidenav").style.display = "none";
			}
		</script>

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/multus.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>