<!DOCTYPE html>
<html>
	<head>
		<title>Multus</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/multus.css" rel="stylesheet"/>
		<link href="css/w3.css" rel="stylesheet"/>

		<!-- Used for Bottom nav bar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

  <body class="bg-color">
		<!-- Bottom navigation -->
		<div class="w3-bottom" id="myBottomnav">
   			<ul class="nav nav-pills">
	      		<li class="bottomNav" ><a href="/"><span class="glyphicon glyphicon-tasks"></span> </br><span >Dashboard</span></a></li>
	      		<li class="active bottomNav"><a href="profile"><span class="glyphicon glyphicon-user"></span> </br><span>Profile </span></a></li>
		      	<li class="bottomNav"><a href="history"><span class="glyphicon glyphicon-calendar"></span> </br><span>Past Tasks </span></a></li>
				<li class="bottomNav"><a href="login"><span class="glyphicon glyphicon-log-out"></span> </br><span>Logout </span></a></li>
	   		</ul>
  		</div>

		<!-- Top menu -->
		<div class="w3-top"> 
		  	<div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">

	    		<div class="w3-right" style="position:absolute; right:0; margin-right:40px;">
			  		<img src= "/images/info.png" onclick="location.href='help'" class="w3-btn-floating info-button" style ="background-color: #4990E2">
				</div>

		    	<div class="w3-center top-center" style="margin-left:20px;">&nbsp; Profile</div>
		  	</div>
		</div>

		<br/> <br/> <br/> <br/>

		<div class="text-center">
				{{#each users}}
					<br/><img src= "/images/profile-pic.png" style ="background-color: #FAFAFA; max-width:100px;" class="text-center" id="profile-picture" ><br/>
					<h3>{{name}}</h3> <hr> 
					<h4> - - - - My Stats - - - - </h4> </br>
				<div id="profile-con">
					<p id="profile-text">Created Categories - {{createdcategories}} categories</p>
					<p id="profile-text">Created Tasks - {{createdtasks}} tasks</p>
					<p id="profile-text">Tasks Completed - {{completedtasks}} tasks</p> 
				</div>
				{{/each}}
				<!-- <h3> - - - - Challenges - - - - </h3>  -->
				<hr><div class="d-inline-block bg-warning text-center">
					<h4> - - - - Challenges - - - - </h4><br/>
						{{#each challenges}}
							{{#if complete}}
								<div class="friend">
									<!-- <i class="fa fa-trophy" style="font-size:200px;color:gold;"></i> --> 
									<i><img src= "/images/trophy-done.png" style="background-color:#FAFAFA" id="trophy"></i>
									<p id="trophy-text"> {{name}} </p>
								</div>
							{{/if}}
						{{/each}}
				</div>

				<!-- <br/> -->

				<div class="d-inline-block bg-warning text-center">
					<!-- <h4> - - - - Upcoming - - - - </h4><br/> -->
						{{#each challenges}}
							{{#unless complete}}
								<div class="friend">
									<!-- <i class="fa fa-trophy" style="font-size:150px;color:grey;"></i> -->
									<i><img src= "/images/trophy-notdone.png" style="background-color:#FAFAFA" id="trophy"></i>
									<p id="trophy-text">  {{name}} </p>
								</div>
							{{/unless}}
						{{/each}} <br/><br/><br/></br>
				</div>
		</div>

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/multus.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>