<!DOCTYPE html>
<html>
  <head>
    <title>Multus</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/multus.css" rel="stylesheet"/>
    <link href="/css/w3.css" rel="stylesheet"/>
  </head>
<style>
/*body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}*/
.w3-sidenav a {padding:20px}
</style>
<body class="bg-color">
<!-- Top menu -->
<!-- <form id="addTaskForm" role="form" method="get" action="/modify"> -->
<form id="addTaskForm" role="form" method="get" > <!-- onsubmit="return setProgress()"> -->
  <div class="w3-top">
    <div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
      <div class="w3-center" id="text-design">
       &nbsp &nbsp &nbsp
         <input type="text" name="tname" id="tname" style="text-align:center; width:200px;" value="{{tname}}" required>
        <!-- <h2>{{name}}</h2> -->
      </div>
    </div>
  </div> <br/><br/>
  <!-- !PAGE CONTENT! class="w3-main w3-content w3-padding" class="w3-btn-floating"-->
  <div  style="max-width:1200px;margin-top:100px">
    <div class="w3-center" >

      <h1 id="reminder-text" style="text-align:left; margin-left:20px;"> get </h1>
      <h1 id="reminder-text" style="text-align:left; margin-left:20px;"> ready for</h1>
      <h2 id="reminder-md-text" style="text-align:left; margin-left:20px;"> {{cname}} </h2>
      <h4 id="reminder-btm-text" style="text-align:left; margin-left:20px;"> {{tname}} </h4>
      <h6 id="btm-text"style="text-align:center; "> you got it! </h6>
      <br/><br/><br/>
      <div class="w3-opennav w3-center w3-hover-text-grey" onclick="w3_open()">
        <h3><a href="/category/{{cid}}" style="text-decoration:none;" id="thisdate"><img src= "/images/reminder.png"  style ="background-color: #fafafa; max-width:120px;"></a></h3>
      </div>

    </div>
  </div>


  <!-- End page content -->
  </div>

  <script>
    // Script to open and close sidenav
    function w3_open() {
        document.getElementById("mySidenav").style.display = "block";
    }
     
    function w3_close() {
        document.getElementById("mySidenav").style.display = "none";
    }
  </script>

  <script type="text/javascript">
    function setProgress() {
      console.log("ASDFSAFDSAF");
      window.location.href = '/category/{{cid}}';
    }
  </script>

    <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92553441-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
